* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #333;
  outline: none;
  display: flex;
}

.slide {
  flex: 1;
}

.slide-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-row {
  display: flex;
}

.slide-0 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.slide-0 img {
  width: 300px;
  margin-top: 25px;
}

.slide-2 div {
  margin: auto;
}

.slide-7 {
  font-size: 2rem;
}

.slide-7 ul {
  margin: auto 0;
}

.slide-8 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #448aff;
}

.code-preview {
  flex: 1;
}

.code-editor-container {
  overflow: auto;
}

.code-editor {
  flex: 1;
  font-size: 1.5rem;
  overflow: auto;
}

.logo {
  width: 150px;
  height: 75px;
  position: absolute;
  bottom: 0;
}
